@using GridMvc.Html
@model CMS2.Entities.Company
<br/>
<h4>Company</h4>

<form class="col-md-12 form-horizontal" role="form">
    <br />
    <section>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.AccountNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.AccountNo, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.Label("Mother Company", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.MotherCompany.CompanyName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyName, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address1, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.TinNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.TinNo, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address2, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.Website, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.Website, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.CityId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.City.CityName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.President, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.President, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <h4>Contact Information</h4>
    <section>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactPerson, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactMobile, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactMobile, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactPosition, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactPosition, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactEmail, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactEmail, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactDepartment, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactDepartment, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactFax, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactFax, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactTelNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ContactTelNo, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
            </div>
        </div>
    </section>
    <hr/>
    <h4>Account Information</h4>
    <section>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.AccountTypeId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.AccountType.AccountTypeName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.Discount, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.AccountStatusId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.AccountStatus.AccountStatusName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ValuationFactor, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ValuationFactor, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.OrganizationTypeId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.OrganizationType.OrganizationTypeName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.WitholdingTax, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.WitholdingTax, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BusinessTypeId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BusinessType.BusinessTypeName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.HasAwbFee, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10 checkbox-inline col-md-push-1" style="width: 60%; padding-left: 5px">
                        @Html.CheckBoxFor(x => x.HasAwbFee, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingPeriodId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingPeriod.BillingPeriodName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.IsNonVatable, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10 checkbox-inline col-md-push-1" style="width: 60%; padding-left: 5px">
                        @Html.CheckBoxFor(x => x.IsNonVatable, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.HasValuationCharge, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10 checkbox-inline col-md-push-1" style="width: 60%; padding-left: 5px">
                        @Html.CheckBoxFor(x => x.HasValuationCharge, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.PaymentTermId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.PaymentTerm.PaymentTermName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.HasInsurance, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10 checkbox-inline col-md-push-1" style="width: 60%; padding-left: 5px">
                        @Html.CheckBoxFor(x => x.HasInsurance, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ApprovedDate, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ApprovedDate, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.HasWeightCharge, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10 checkbox-inline col-md-push-1" style="width: 60%; padding-left: 5px">
                        @Html.CheckBoxFor(x => x.HasWeightCharge, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.ApprovedById, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.ApprovedBy.FullName, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.HasChargeInvoice, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10 checkbox-inline col-md-push-1" style="width: 60%; padding-left: 5px">
                        @Html.CheckBoxFor(x => x.HasChargeInvoice, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.CreditLimit, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.CreditLimit, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <h4>Billing Information</h4>
    <section>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingAddress1, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingAddress1, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactDepartment, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactDepartment, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingAddress2, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingAddress2, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactTelNo, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactTelNo, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingCityId, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingCity.CityName, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactMobile, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactMobile, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingZipCode, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingZipCode, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactEmail, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactEmail, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactPerson, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactPerson, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactFax, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactFax, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    @Html.LabelFor(m => m.BillingContactPosition, new {@class = "control-label col-md-2", @style = "width:40%; padding-right: 5px"})
                    <div class="col-md-10" style="width: 60%; padding-left: 5px">
                        @Html.TextBoxFor(m => m.BillingContactPosition, new {@class = "form-control", @readonly = true})
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
            </div>
        </div>
    </section>
    <hr />
    <h4>Representatives</h4>
    <section>
        @{
            @Html.Grid(Model.Clients).Named("gridClient").Columns(columns =>
            {
                columns.Add(m => m.FullName).Titled("Name").Sortable(true).Filterable(true);
                columns.Add(m => m.Title).Titled("Title");
                columns.Add(m => m.ContactNo).Titled("Contact No");
                columns.Add(m => m.City.CityName).Titled("City").Sortable(true).Filterable(true);
            }).WithPaging(5)
        }
        <div class="row">
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">

                </div>
            </div>
            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                
                </div>
            </div>
        </div>
    </section>
    <hr />
    <h4>Approving Authority</h4>
    <section>
        @{
            @Html.Grid(Model.ApprovingAuthorities).Named("gridApprovingAuthority").Columns(columns =>
            {
                columns.Add(m => m.FullName).Titled("Name").Sortable(true).Filterable(true);
                columns.Add(m => m.Position).Titled("Title");
                columns.Add(m => m.Department).Titled("Department");
                columns.Add(m => m.ContactNo).Titled("Contact No");
            }).WithPaging(5)
        }

    </section>

    <hr/>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
            
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
        </div>
    </div>
</form>