@model CMS2.CentralWeb.Areas.Shipment.ViewModels.DeliveryDetailsViewModel
<br />
<h4>Delivery Details</h4>

<form class="col-md-12 form-horizontal ">
    <br />
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("AirwayBill No", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.AirwayBillNo, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Delivery Status", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.DeliveryStatus, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Date Delivered", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.DateDelivered, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Delivery Remark", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.DeliveryRemark, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Delivered By", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.DeliveredBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Received By", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.ReceivedBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Cargo Nos", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.ListBox("Cargo Nos", new SelectList(Model.PackageNos), new { @class = "form-control" } )
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Signature", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @{
                        if (Model.Signature != null)
                        { <img src="data:image;base64,@Convert.ToBase64String(Model.Signature)" width="120" height="120" />}
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
               
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.Label("Note", new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

   

    <div class="form-group">
        &nbsp;
    </div>
</form>