@model CMS2.CentralWeb.Areas.Shipment.ViewModels.PaymentViewModel
<br />
<h4>Payment - Details</h4>

<form class="col-md-12 form-horizontal " role="form">
   
    <br />
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.PaymentDate, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control",@readonly=true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.ReceivedBy, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.ReceivedBy, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.OrPr, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.OrPr, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.VerifiedBy, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.VerifiedBy, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.AirwayBill, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.AirwayBill, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.VerifiedDate, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.VerifiedDate, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.AmountPaid, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.AmountPaid, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.SoaNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.SoaNo, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.CheckBank, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.CheckBank, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.CheckDate, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.CheckDate, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.CheckNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.CheckNo, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">

            </div>
        </div>
    </div>
</form>