@using GridMvc.Html
@model CMS2.CentralWeb.Areas.Report.ViewModels.GatewayInboundShipmentViewModel

<hr />
<br />
<div class="col-md-12 col-md-push-1" style="margin:0">
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.TransactionDate, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.ManifestAwb, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.ManifestAwb, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.OriginCity, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.OriginCity, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.ScannedBy, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.ScannedBy, new { @class = "form-control" })
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.Gateway, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.Gateway, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.AwbCount, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.AwbCount, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.FlightNo, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.FlightNo, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.ItemCount, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%; padding-left: 5px">
                    @Html.TextBoxFor(m => m.ItemCount, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-12" style="margin: 0">
            @{
                if (Model != null)
                {
                    if (Model.Shipments != null)
                    {
                        @Html.Grid(Model.Shipments).Named("gridShipments").Columns(columns =>
                        {
                            columns.Add(m => m.AirwayBillNo).Titled("AWB").Sortable(true).Filterable(true);
                            columns.Add(m => m.Quantity).Titled("Quantity").Sortable(true).Filterable(true);
                            columns.Add(m => m.Remarks).Titled("Remarks").Sortable(true).Filterable(true);
                        }).WithPaging(30)
                    }
                }
            }
        </div>
    </div>
</div>
