@model CMS2.CentralWeb.Areas.Admin.ViewModels.UserRoleViewModel
<br />
<h4>UserRole</h4>

<form class="col-md-12 form-horizontal" rolw="form">
    <br />
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.UserId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%;padding-left: 5px">
                    @Html.DropDownListFor(m => m.UserId, (SelectList)ViewBag.Users, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">
                @Html.LabelFor(m => m.RoleId, new { @class = "control-label col-md-2", @style = "width:40%; padding-right: 5px" })
                <div class="col-md-10" style="width: 60%;padding-left: 5px">
                    @Html.DropDownListFor(m => m.RoleId, (SelectList)ViewBag.Roles, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-1">
            <div class="form-group">

            </div>
        </div>
    </div>
    <div class="form-group">
        &nbsp;
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin:0">
            <input id="addButton" type="button" class="btn btn-default" value="Add To Role" onclick="AddToRole();" />
            <input id="removeButton" type="button" class="btn btn-default" value="Remove From Role" onclick="RemoveFromRole();"/>
            <input id="cancelButton" type="button" class="btn btn-default" value="Cancel" onclick="CancelInputForm();" />
        </div>
    </div>
    </form>

@section scripts
{
    <script type="text/javascript">

       function AddToRole() {
            var obj = {UserId: $('#UserId').val(),RoleId: $('#RoleId').val()};
            $.ajax({
                url: '@Url.Action("AddToRole","UserRole")',
                type: "post",
                dataType: "json",
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8'
            });
            window.location = 'Index';
       }

        function RemoveFromRole() {
            var obj = { UserId: $('#UserId').val(), RoleId: $('#RoleId').val() };
            $.ajax({
                url: '@Url.Action("RemoveFromRole","UserRole")',
                type: "post",
                dataType: "json",
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8'
            });
            window.location = 'Index';
        }

    </script>

}